# 04 â€“ Preprocessing & Feature Engineering
### Car Price Prediction Using Machine Learning
Group Assignment 02 - CCS3012 - Data Analytics  
Submission Date: 16th September 2025

---

### **Group 11**
-  **FC211034 - N.D. Samararathne Kodikara**
-  **FC211013 - N.W.V. Tharindu Pabasara**
-  **FC211025 - W.M.M.C.B. Wijesundara**



---

### **Supervisor**
**Ms. Dilmi Praveena**  
*Faculty of Computing*  
*University of Sri Jayewardenepura*

---

## ðŸ“Œ Objectives

This notebook builds upon the cleaned dataset produced in **Notebook 01 â€” Data Exploration & Cleaning**.
The focus here is to prepare the dataset for modeling by performing outlier detection, handling, and feature engineering, including:

---

- **Outlier detection & handling**: We have identified extreme and unrealistic values some numerical features such as price, mileage, levy, engine_volume and here we will decide whether to remove or retain them.

- **Feature engineering**: Create new features to better capture information.

- **Data consistency & cleaning**: Ensure all engineered features are correctly formatted, handle missing or zero values appropriately, and reduce noise in the dataset..

---

### ðŸ“‚ Input  
- `clean_data.csv` saved in `Data/processed/`  
---

### ðŸ“Š Dataset Overview
**Dataset:** Car price dataset cleaned.  
**columns include**:   
- `id`, `price` (target variable),  `levy`,  `manufacturer`,  `model`,  `prod_year`,  `category`,  `leather_interior`,  `fuel_type`, `engine_volume`,  `mileage`,  `cylinders`,  `gear_box_type`,  `drive_wheels`,  `doors`,  `wheel`, `color`,  `airbags`,  `turbo` (derived in Notebook 01)


> **Dataset stats:** 19,237 rows Ã— 19 features | Target variable: `price` | Problem type: Regression

# Setup & imports

In [1]:
# Data manipulation
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns


# Statistical functions
from scipy import stats

from prettytable import PrettyTable

In [2]:
df = pd.read_csv("./Data/processed/clean_data.csv")

In [3]:
# Function to normalize text
def normalize_text(s):
    if pd.isna(s):
        return s
    s = str(s).strip().lower()        # lowercase and strip spaces
    s = s.replace(' ', '-')           # replace spaces with '-'
    return s

# Apply to all object columns
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].apply(normalize_text)

# Quick check
df.head()

,id,price,levy,manufacturer,model,prod_year,category,leather_interior,fuel_type,engine_volume,mileage,cylinders,gear_box_type,drive_wheels,doors,wheel,color,airbags,turbo
0,45654403,13328,1399.0,lexus,rx-450,2010,jeep,yes,hybrid,3.5,186005,6,automatic,4x4,04-may,left-wheel,silver,12,False
1,44731507,16621,1018.0,chevrolet,equinox,2011,jeep,no,petrol,3.0,192000,6,tiptronic,4x4,04-may,left-wheel,black,8,False
2,45774419,8467,0.0,honda,fit,2006,hatchback,no,petrol,1.3,200000,4,variator,front,04-may,right-hand-drive,black,2,False
3,45769185,3607,862.0,ford,escape,2011,jeep,yes,hybrid,2.5,168966,4,automatic,4x4,04-may,left-wheel,white,0,False
4,45809263,11726,446.0,honda,fit,2014,hatchback,yes,petrol,1.3,91901,4,automatic,front,04-may,left-wheel,silver,4,False

In [4]:
# Prints the name of each column in the dataset, the number of non-null values it contains, and its data type.
def df_info(df):
    table = PrettyTable()
    table.field_names = ["Column", "Non-Null Count", "Dtype"]

    for col in df.columns:
        non_null_count = df[col].count()
        dtype = df[col].dtype
        table.add_row([col, non_null_count, dtype])

    print(table)

df_info(df)

+------------------+----------------+---------+
|      Column      | Non-Null Count |  Dtype  |
+------------------+----------------+---------+
|        id        |     15697      |  int64  |
|      price       |     15697      |  int64  |
|       levy       |     15697      | float64 |
|   manufacturer   |     15697      |  object |
|      model       |     15697      |  object |
|    prod_year     |     15697      |  int64  |
|     category     |     15697      |  object |
| leather_interior |     15697      |  object |
|    fuel_type     |     15697      |  object |
|  engine_volume   |     15697      | float64 |
|     mileage      |     15697      |  int64  |
|    cylinders     |     15697      |  int64  |
|  gear_box_type   |     15697      |  object |
|   drive_wheels   |     15697      |  object |
|      doors       |     15697      |  object |
|      wheel       |     15697      |  object |
|      color       |     15697      |  object |
|     airbags      |     15697      |  int64  |
|      turbo       |     15697      |   bool  |
+------------------+----------------+---------+

ðŸ’¡ **Observations:**  
- The data set appears unchanged and matches the previously saved version.

Le't start...

# **Deterministic cleaning & derived column**
Doing before train/test split because cause no target leakage

## `doors` column

> ðŸ§© Standardize to two representations:
> - `doors_count` numeric: 2, 4, 6 (use 6 as proxy for >5)
> - `doors_cat` original categorical for interactions

In [5]:
def doors_to_count(s):
    if pd.isna(s): return np.nan
    s = str(s).lower()
    if '02' in s or '02-mar' in s: return 2
    if '04' in s or '04-may' in s: return 4
    if '>' in s or '>5' in s: return 6
    # fallback: try to extract first number
    import re
    m = re.search(r'\d+', s)  # fallback: extract first number in the string
    return int(m.group()) if m else np.nan

df['doors_count'] = df['doors'].apply(doors_to_count)
print(f"âœ… created doors_count column.")
df['doors_count'].value_counts()

âœ… created doors_count column.

doors_count
4    14835
2      738
6      124
Name: count, dtype: int64

In [6]:
# Mapping dictionary
doors_map = {
    '02-mar': '2-3',
    '04-may': '4-5',
    '>5': '>5'
}

# Apply mapping
df['doors_cat'] = df['doors'].map(doors_map).fillna(df['doors'])
print(f"âœ… created doors_cat column.")
df['doors_cat'].value_counts()

âœ… created doors_cat column.

doors_cat
4-5    14835
2-3      738
>5       124
Name: count, dtype: int64

## `Cylinders` column

> ðŸ§© grouping into buckets  
> ðŸ§© Ordinal encoding. start with `1`

In [7]:
def cylinder_group(x):
    if pd.isna(x): return np.nan
    if x <= 2: return '1-2'
    if 3 <= x <= 4: return '3-4'
    if 5 <= x <= 8: return '5-8'
    return '>8'

df['cylinder_group'] = df['cylinders'].apply(cylinder_group)
print(f"âœ… created cylinder_group column.")
df['cylinder_group'].value_counts()

âœ… created cylinder_group column.

cylinder_group
3-4    12372
5-8     3196
1-2       78
>8        51
Name: count, dtype: int64

In [8]:
# Define the order
cylinder_order = ['1-2', '3-4', '5-8', '>8']

# Map to ordinal numbers
df['cylinder_group_ord'] = df['cylinder_group'].map({k: i+1 for i, k in enumerate(cylinder_order)})

print(f"âœ… created cylinder_group_ord column.\n")
print(df[['cylinder_group', 'cylinder_group_ord']].head())

âœ… created cylinder_group_ord column.

  cylinder_group  cylinder_group_ord
0            5-8                   3
1            5-8                   3
2            3-4                   2
3            3-4                   2
4            3-4                   2

## `Airbags` column

> ðŸ§© Grouping ['0','1-2','3-4','5-8','>8']  
> ðŸ§© Ordinal Encoding. start with `0`

In [9]:
# Function to group airbags
def airbags_group(n):
    if pd.isna(n):  # handle missing values
        return np.nan
    if n == 0:
        return '0'
    if 1 <= n <= 2:
        return '1-2'
    if 3 <= n <= 4:
        return '3-4'
    if 5 <= n <= 8:
        return '5-8'
    return '>8'

# Apply to datset
df['airbags_group'] = df['airbags'].apply(airbags_group)
print(f"âœ… created airbags_group column.")
df['airbags_group'].value_counts()

âœ… created airbags_group column.

airbags_group
3-4    5141
>8     5019
5-8    3040
0      1378
1-2    1119
Name: count, dtype: int64

In [10]:
airbags_order = ['0', '1-2', '3-4', '5-8', '>8']  # define order

# ordinal encoding
df['airbags_group_ord'] = df['airbags_group'].map({k: i for i, k in enumerate(airbags_order)})

print(f"âœ… created airbags_group_ord column.\n")
print(df[['airbags_group', 'airbags_group_ord']].head())

âœ… created airbags_group_ord column.

  airbags_group  airbags_group_ord
0            >8                  4
1           5-8                  3
2           1-2                  1
3             0                  0
4           3-4                  2

## `Car Age` column

> ðŸ§© current_year - prod_year

In [11]:
import datetime

current_year = datetime.datetime.now().year  # get current year

df['car_age'] = current_year - df['prod_year']

print(f"âœ… created car_age column.")
# check for negative or weird values
print(df['car_age'].describe())

âœ… created car_age column.
count    15697.000000
mean        14.410015
std          5.697194
min          5.000000
25%         11.000000
50%         13.000000
75%         17.000000
max         45.000000
Name: car_age, dtype: float64

## `leather_interior` column

> ðŸ§© create `has_leather` binary : Directly captures the positive price effect of leather.

In [12]:
# Function map has_leather
def has_leather(x):
    if pd.isna(x):
        return 0 
    if str(x).strip().lower() in ['yes']:
        return 1
    return 0

# Apply to df
df['has_leather'] = df['leather_interior'].apply(has_leather)

print(f"âœ… created has_leather column.\n")

# Quick check
print(df[['leather_interior', 'has_leather']].value_counts())

âœ… created has_leather column.

leather_interior  has_leather
yes               1              10547
no                0               5150
Name: count, dtype: int64

## `fuel_type` column

> ðŸ§© Grouping: [petrol, diesel, hybrid, lpg]

In [13]:
df['fuel_type'].value_counts()

fuel_type
petrol            8801
diesel            3206
hybrid            2424
lpg                714
cng                466
plug-in-hybrid      85
hydrogen             1
Name: count, dtype: int64

In [14]:
fuel_bins = {
    'petrol': 'petrol',
    'diesel': 'diesel',
    'hybrid': 'hybrid',
    'plug-in-hybrid': 'hybrid',
    'lpg': 'lpg',
    'cng': 'lpg',
    'hydrogen': 'lpg'
}

df['fuel_bin'] = df['fuel_type'].str.strip().str.lower().map(fuel_bins)

# Check counts

print(f"âœ… created fuel_bin column.\n")
print(df['fuel_bin'].value_counts())

âœ… created fuel_bin column.

fuel_bin
petrol    8801
diesel    3206
hybrid    2509
lpg       1181
Name: count, dtype: int64

## `color` column

> ðŸ§© create feature `is_common_color` : [black/white/silver/grey/blue/red]

In [15]:
# Define common colors
common_colors = ['black', 'white', 'silver', 'grey', 'blue', 'red']

# Function to check if color is common
def is_common_color_func(color):
    if pd.isna(color):
        return 0
    return 1 if str(color).strip().lower() in common_colors else 0

# Apply to df
df['is_common_color'] = df['color'].apply(is_common_color_func)


print(f"âœ… created is_common_color column.\n")

# Quick check
print(df[['color', 'is_common_color']].value_counts())

âœ… created is_common_color column.

color          is_common_color
black          1                  3832
white          1                  3605
silver         1                  3146
grey           1                  1918
blue           1                  1245
red            1                   564
green          0                   286
orange         0                   204
carnelian-red  0                   177
brown          0                   171
golden         0                   142
beige          0                   132
sky-blue       0                   119
yellow         0                    92
purple         0                    39
pink           0                    25
Name: count, dtype: int64

## `category` column

> ðŸ§© Domain Mapping: map `categories` into `luxury`, `utility`, `family`.  
> ðŸ§© Create `category_simple` column.

In [17]:
# define mappings
domain_map = {
    'jeep': 'utility', 
    'pickup': 'utility',
    'goods wagon': 'utility',
    'limousine': 'luxury',
    'cabriolet': 'luxury',
    'coupe': 'luxury',
    'minivan': 'family',
    'microbus': 'family'
}

# Apply mapping
df['domain'] = df['category'].str.strip().str.lower().map(domain_map)


print(f"âœ… created domain column.\n")

# Quick check
print(df['domain'].value_counts())

âœ… created domain column.

domain
utility    4270
family      829
luxury      514
Name: count, dtype: int64

In [18]:
category_map = {
    # SUVs / off-road
    'jeep': 'suv',
    'suv': 'suv',
    'pickup': 'suv',
    'goods wagon': 'suv',
    
    # Luxury / passenger cars
    'limousine': 'car',
    'cabriolet': 'car',
    'coupe': 'car',
    
    # Family / vans
    'minivan': 'van',
    'microbus': 'van'
}

df['category_simple'] = df['category'].str.strip().str.lower().map(category_map)

print(f"âœ… created category_simple column.\n")

# Quick check
print(df['category_simple'].value_counts())

âœ… created category_simple column.

category_simple
suv    4270
van     829
car     514
Name: count, dtype: int64

## `engine_volume` Ã— `Turbo` columns

> ðŸ§© create `engine_turbo`column : `engine_volume` * `turbo_flag`

In [19]:
# Make sure these columns exist and are numeric
df['engine_volume'] = pd.to_numeric(df['engine_volume'], errors='coerce')

In [31]:
# Create the interaction feature
df['engine_turbo'] = df['engine_volume'] * df['turbo']

print(f"âœ… created engine_turbo column.\n")

print(df[['engine_volume', 'turbo', 'engine_turbo']].tail())

âœ… created engine_turbo column.

       engine_volume  turbo  engine_turbo
15692            1.8  False           0.0
15693            2.0   True           2.0
15694            2.4  False           0.0
15695            2.0  False           0.0
15696            2.4  False           0.0

## `doors_count` and `domain` columns

> ðŸ§© interactions between categorical variables `doors_count` and `domain`.

In [36]:
# create doors_domain feature
df['doors_domain'] = df['doors_count'].astype(str) + '_' + df['domain'].astype(str)

print(f"âœ… created doors_domain column.\n")

# Quick check
print(df[['doors_count', 'domain', 'doors_domain']].value_counts().head(3))

âœ… created doors_domain column.

doors_count  domain   doors_domain
4            utility  4_utility       4146
             family   4_family         696
2            luxury   2_luxury         365
Name: count, dtype: int64